/*** General CSS ***/
body {
    line-height: 1.9em;
    color: #333;
}
a:hover, a:focus, a:active {
    color: #0fa89d;
}
.full-width {
  	padding-left: 5% !important;;
  	padding-right: 5% !important;;
}

/*** Header Area ***/
/* Header Menu */
#sp-header {
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
  	background: transparent;
}
#sp-header > .container {
  	max-width: 100%;
    padding: 0 5%;
}
#sp-header.header-sticky {
    position: fixed;
    z-index: 9999;
    background: #fff;
}
.sp-megamenu-parent > li > a, .sp-megamenu-parent > li > span {
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item>a {
    color: #252525;
    font-size: 14px !important;
}

/* Canvas Menu */
.offcanvas-menu .offcanvas-inner .menu-child > li a {
    padding: 12px 10px !important;
    border-bottom: 1px solid rgba(197, 153, 153, 0.21);
    display: inherit;
}
.offcanvas-menu .offcanvas-inner ul.menu>li>a, .offcanvas-menu .offcanvas-inner ul.menu>li>span {
    font-size: 15px;
    font-weight: 500;
}

/*** Block Styles ***/
/* Button */
.sppb-btn-custom {
    padding: 14px 30px;
    padding-bottom: 10px;
    border-radius: 0px!important;
    border: 2px solid #000;
    margin-bottom: 30px;
    margin-right: 10px;
}
.sppb-btn-custom:hover {
    background-color: none;
}

/* Title */
.title h3 {
    font-size: 26px;
    color: #000;
    font-weight: 700;
    margin-left: 8px;
    text-decoration: none;
    margin-bottom: 30px;
    display: inline-block;
}

/* Contact Info */
.contact-info h2, .contact-info h3 {
	font-size: 23px;
}
button.btn.btn-primary.validate {
    color: #fff !important;
    border-radius: 0;
    padding: 10px 25px;
}
button.btn.btn-primary.validate:hover {
  	background: #000 !important;
}

/* Blog */
.jmm-item .jmm-image.mod-article-image {
  	overflow: hidden;
}
.jmm-image.mod-article-image img {
  	transform: scale(1);
  	-webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.jmm-item:hover .jmm-image.mod-article-image img {
  	transform: scale(1.12);
  	filter: grayscale(100%);
}

/* Bottom */
#sp-bottom .sp-module .sp-module-title, #sp-bottom h3 {
    font-size: 20px;
}
.sp-contact-footer .block-content .contact-us .content-contact {
    padding-left: 15pt;
}
.sp-contact-footer .block-content .contact-us .content-contact {
    border-left: 1px solid #d5d5d5;
}
.sp-contact-footer .block-content .contact-us {
    margin-bottom: 15pt;
}
.sp-contact-footer  strong {
  display:none!important;
}
.sp-contact-footer .block-content .contact-us .content-contact
    border-left-style: solid;
}
.sp-contact-footer .fa-envelope,
.sp-contact-footer .fa-home {
    margin-right:10px!important;
}
.sp-contact-footer .block-content .contact-us .title-content em {
    margin-right: 10px;
}
.shrewd_solution_icon ul li strong {
    display: none;
}
.shrewd_solution_icon {
    padding-top: 20px;
    padding-bottom: 20px;
}
.shrewd_solution_icon ul,
.shrewd_solution_icon ul li {
    display: inline-block!important;
    padding: 0px!important;
}
.shrewd_solution_icon ul li a {
    font-size: 16px;
    color: #ba4fce;
    background: #fefefe;
    height: 36px;
    width: 36px;
    line-height: 38px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    -webkit-transition: .5s;
    transition: .5s;
    box-shadow: 0 0 15px rgba(228, 200, 200, 0.5);
    display: inline-block;
}
.shrewd_solution_icon ul li a i {}
.shrewd_solution_icon ul li a:hover,
.shrewd_solution_icon ul li:nth-child(2) a:hover,
.shrewd_solution_icon ul li:nth-child(3) a:hover,
.shrewd_solution_icon ul li:nth-child(4) a:hover,
.shrewd_solution_icon ul li:nth-child(5) a:hover,
.shrewd_solution_icon ul li:nth-child(6) a:hover{
    background: #bf0d3e; 
    color:#fff!important;
}
.shrewd_solution_icon ul li:nth-child(2) a{
    color: #706eff; 
    -webkit-transition: .5s; 
    transition: .5s;    
}
.shrewd_solution_icon ul li:nth-child(3) a{
    color: #cd3389;
    -webkit-transition: .5s;
    transition: .5s;    
}
.shrewd_solution_icon ul li:nth-child(4) a{
    color: #7045dd;
    -webkit-transition: .5s;
    transition: .5s;    
}
.shrewd_solution_icon ul li a em {
  	font-family: "Font Awesome 5 Brands" !important;
}
.solution_btn {
    margin: 40px 0 0;
}
.solution_btn .btns a {
    border-radius:50px; 
}
.solution_btn .btns a:hover{
    background:#bf0d3e;
    color:#fff; 
}

/* Footer */
#sp-footer {
  	border-top: 1px solid #2d2d2d;
}
#sp-footer .container-inner {
    padding: 30px 0 20px;
    border-top: none;
}

/*** Responsive Layout ***/
/* Tablet Landscape Layout */
@media (min-width: 980px) and (max-width: 1199px) {
    .sp-megamenu-parent > li > a, .sp-megamenu-parent > li > span {
        font-size: 14px !important;
    }
}
  
/* Mobile Standard Layout */
@media (max-width: 768px) {
	#sp-header, #sp-header .logo {
        height: 70px;
    }
  	#sp-footer p {
  		text-align: center;
	}
  	body #sp-header {
    	background: #fff;
      	padding: 0;
	}
}

/* Mobile Small Resolution */
@media (max-width: 480px) {
  .slider-small h3 {
    	margin-bottom: 0 !important;
  }
  .slider-big h1 {
    	padding: 0 !important;
  }
}

/* General color defination
Color value depend on preset color that picking on template settings > Presets
*/

:root {
  --background-color: currentColor;
  --background: currentColor;
  --text-color: currentColor;
}
a.hikabtn.hikacart, .btn:hover, .page-item.active .page-link,
.slider-item .sppb-btn-success, .sp-simpleportfolio .sp-simpleportfolio-filter>ul>li.active>a,
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-info:hover,
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-overlay,
.jmm-image.mod-article-image:before, .jmm-image.mod-article-image:after {
 	background-color: var(--background-color) !important;
}
.btn,
.article-list .article .readmore a:hover, .article-list .article .readmore a:active, .article-list .article .article-header h2 a:hover,
#sp-bottom a, .offcanvas-menu .offcanvas-inner ul.menu >li.active a {
  	color: var(--text-color) !important; 
}
a.hikabtn.hikacart, .page-item.active .page-link, .hikashop_product:hover .hikashop_subcontainer.thumbnail,
.tabs .sppb-tab-content, .tabs .sppb-nav-tabs>li.active>a, .sp-simpleportfolio .sp-simpleportfolio-filter>ul>li.active>a, .btn-primary:hover {
  	border-color:var(--text-color)!important;
}